<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Main Area Jacko!</title>
</head>
<body>
    <p th:text="'Hello, ' + ${value.toString()} + '!'">Poo</p>
</body>
</html>